<p class="card-text">{{ recipe.title }}</p>
<a class="btn btn-sm btn-warning card-link" href="#" id="recipeReload">
    {% trans %}Find another{% endtrans %}
</a>
<a class="btn btn-sm btn-primary card-link" data-toggle="modal" href="#recipeModal" id="recipeLink"
   data-link="{{ recipe.link }}">
    {% trans %}See the recipe{% endtrans %}
</a>
<a class="btn btn-sm btn-outline-success card-link"
   style="{% if recipe.isFavorite is same as(false) %}display: none;{% endif %}"
   href="#" onclick="return false;" id="recipeSaved">
    {% trans %}I have saved this{% endtrans %}
</a>
<a class="btn btn-sm btn-success card-link"
   style="{% if recipe.isFavorite is same as(true) %}display: none;{% endif %}"
   href="" id="recipeSave">
    {% trans %}Save this recipe{% endtrans %}
</a>

{% block extrascripts %}
    <script>
        $(function () {
            $('#recipeModal').on('show.bs.modal', function () {
                var link = $('#recipeLink').data('link');
                $('#siteFrame').attr('src', link);
                $('#siteFrame').on('load', (function () {
                    $('#loader').hide();
                    $('#siteFrame').show();
                }));
            });
            $('#recipeReload').on('click', function () {
                $(this).prop('disabled', true);
                $(this).text('{% trans %}Searching{% endtrans %}...');
                $('#dailyrecipe').load('{{ path('dailyRecipe') }}');

                return false;
            });
            $('#recipeSave').on('click', function () {
                $.ajax({
                    url: '{{ path('saveRecipe') }}',
                    method: 'post',
                    data: {title: '{{ recipe.title }}', link: '{{ recipe.link }}'},
                    success: function (data) {
                        if (data && data.success) {
                            $('#recipeSaved').show();
                            $('#recipeSave').remove();
                            $('#recipelist').load('{{ path('recipeList') }}')
                        }
                    }
                });

                return false;
            });
        })
    </script>
{% endblock %}