{% extends '@App/base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-sm-3 text-sm-center">
            <div class="card">
                <h4 class="card-header">
                    {{ 'now'|localizeddate('medium', 'none') }}
                </h4>
                <div class="card-block" id="weather">
                    {% include('@App/loader.html.twig') %}
                </div>
            </div>
        </div>
        <div class="col-sm-6 text-sm-center">
            <div class="card">
                <h4 class="card-header">
                    {% trans %}Recipe of the day{% endtrans %}
                </h4>
                <div class="card-block" id="dailyrecipe">
                    {% include('@App/loader.html.twig') %}
                </div>
            </div>
        </div>
        <div class="col-sm-3 text-sm-center">
            <div class="card">
                <h4 class="card-header">
                    {% trans %}My recipes{% endtrans %}
                </h4>
                <div class="card-block" id="recipelist">
                    {% include('@App/loader.html.twig') %}
                </div>
            </div>
        </div>
        <div class="col-sm-6 text-sm-center text-small">
            <div class="card">
                <h4 class="card-header">
                    {% trans %}Seasonal items{% endtrans %}
                </h4>
                <div class="card-block" id="seasonal">
                    {% include('@App/loader.html.twig') %}
                </div>
            </div>
        </div>
        <div class="col-sm-3 text-sm-center">
            <div class="card">
                <h4 class="card-header">
                    {% trans %}Shopping list{% endtrans %}
                </h4>
                <div class="card-block" id="shoppinglist">
                    {% include('@App/loader.html.twig') %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extrascripts %}
    <script>
        $(function () {
            $('#weather').load('{{ path('weather') }}');
            $('#dailyrecipe').load('{{ path('dailyRecipe') }}');
            $('#recipelist').load('{{ path('recipeList') }}');
            $('#seasonal').load('{{ path('seasonal') }}');
            $('#shoppinglist').load('{{ path('shoppingList') }}');

            setInterval(function () {
                $('#shoppinglist').load('{{ path('shoppingList') }}')
            }, 300000);
            setInterval(function () {
                $('#weather').load('{{ path('weather') }}')
            }, 3600000);
            setInterval(function () {
                $('#dailyrecipe').load('{{ path('dailyRecipe') }}')
            }, 21600000);
            setInterval(function () {
                $('#weather').load('{{ path('seasonal') }}')
            }, 86400000);
        })
    </script>
{% endblock %}