{% extends '@App/base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-sm-3 text-sm-center" id="weather">
            {{ include('@App/default/weather.html.twig') }}
        </div>
        <div class="col-sm-6 text-sm-center" id="dailyrecipe">
            {{ include('@App/default/dayrecipe.html.twig') }}
        </div>
        <div class="col-sm-3 text-sm-center" id="recipelist">
            {{ include('@App/default/recipelist.html.twig') }}
        </div>
        <div class="col-sm-3 text-sm-center">
        </div>
        <div class="col-sm-6 text-sm-center text-small" id="seasonal">
            {{ include('@App/default/seasonal.html.twig') }}
        </div>
        <div class="col-sm-3 text-sm-center" id="shoppinglist">
            {{ include('@App/default/shoppinglist.html.twig') }}
        </div>
    </div>
{% endblock %}

{% block extrascripts %}
    <script>
        $(function () {
            setInterval(function () {
                $('#weather').load('{{ path('weather') }}')
            }, 3600000);
            var now = new Date();
            var night = new Date(
                    now.getFullYear(),
                    now.getMonth(),
                    now.getDate() + 1,
                    0, 0, 0
            );
            var msTillMidnight = night.getTime() - now.getTime();
            setTimeout('document.location.refresh()', msTillMidnight);
        })
    </script>
{% endblock %}