<div class="container">
    {% for type, items in types %}
        <div class="row">
            <h4>{{ type|trans }}</h4>
            {% for item in items %}
                <div class="col-xs-2 text-sm-center item-to-add {% if item.id in shoppingList %}added{% endif %}"
                     id="{{ item.id }}">
                    {% if item.image %}
                        <img src="{{ asset('images/items/') ~ item.image }}">
                    {% else %}
                        <img src="{{ asset('images/logo-gray.png') }}">
                    {% endif %}
                    <p>
                        <small>{{ item.name }}</small>
                    </p>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</div>
{% block extrascripts %}
    <script>
        $(function () {
            $('.item-to-add').on('click', function () {
                if ($(this).hasClass('added')) {
                    return false;
                }
                var itemId = $(this).attr('id');
                var $elem = $(this);
                $.ajax({
                    url: Routing.generate('addItemToShoppingList', {id: itemId}),
                    success: function (data) {
                        if (data.success) {
                            $('#shoppinglist').load('{{ path('shoppingList') }}');
                            $('#shoppingListAddModal').modal('hide');
                        }
                    }
                });
                return false;
            });
        })
    </script>
{% endblock %}