<canvas id="weather-icon" width="96" height="96" style="vertical-align: top"></canvas>
<span class="text-2x {{ current.temperature|tempcolor }}">
    {{ current.temperature|round }}&deg;
</span>
<p class="card-text text-small">{{ forecast.summary }}</p>

{% block extrascripts %}
    <script src="{{ asset('js/skycons.js') }}"></script>
    <script>
        var skycons = new Skycons({'color': '#3B3738'});
        skycons.add('weather-icon', '{{ forecast.icon }}');
        skycons.play();
    </script>
{% endblock %}